/* body general looks*/
body {

    background-color: #ffffff;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #91ccbe;
    border-radius: 5px;
    box-sizing: border-box;
}
/* Set a style for all buttons */
button {
    background-color: #2e67af;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.btncancel, .btnsignup{
    border-radius: 5px;
}
.btncancel {
    padding: 14px 20px;
    background-color: #f4aa41;
}
button:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
button a {
	text-decoration: none;
	color: #fff
}
/* Make form appear with card effect*/

.form-header {
    height: 60px;
    padding: 20px 30px 0;
    border-bottom: 1px solid #e1e8ee;
}
.form-body {
    padding: 30px 30px 30px;
}

h2 {
    text-align: center;
    font-family: "Karma", sans-serif
}

.heading
{
    font-size: 20px;
    text-align: center;
}
/*Float cancel and signup buttons and add an equal width*/
.btncancel{
    float: left;
    width: 40%;
}
.btnsignup {
    float: right;
    width: 40%;

}
/* Extra styles for the cancel button */

.deletebtn {
    background-color: #f44336;
    float: left;
    width: 40%;

}
.btnshare{
    background-color: #2613af;
    float: right;
    width: 40%;

}

/* Add padding to container elements */
.container {
    padding: 16px;
    margin: auto;
    width: 40%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px
}
.btm_buttons {
    overflow: auto;
    height: 50px;
    width: 415px;
}
/* Clear floats */
.clearfix
{
    padding-top: 20px;
}
/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
/* Buttons Section */
.view-btn {
    width: 30%;
    margin-bottom: 0px;
    background: #7dc855;
    margin: 8px 10px;
}
.new-btn {
    width: auto;
    margin-bottom: 0px;
    background: #4540c8;
    margin: 8px 10px;
    float:right;
}
