<!DOCTYPE html>
{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
{{ super() }}
{% endblock %}

{% block navbar %}
{% endblock %}

<body>
{% block page_content %}
    <div class="container">
    <h3 class="heading">Shopping List App</h3>
    <form class="form" method="post">
    <fieldset>
        <legend><h4 class="title">Add Item to {{ current_user.get_shopping_lst(shopping_list_name).name }}</h4></legend>

        {{ form.csrf_token }}
        {{ wtf.form_field(form.ItemName) }}

        {{ wtf.form_field(form.price) }}

        {{ wtf.form_field(form.quantity) }}

        {{ wtf.form_field(form.CatName) }}


        <div class="clearfix">
            <button type="button"  class="btncancel" onclick="history.back()" >Cancel</button>

            <button type="submit" class="btnsignup">Save</button>
        </div>

    </fieldset>
    </form>
    </div>
{% endblock %}

</body>
</html>