{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
Login
{% endblock %}
{% block styles %}
{{ super() }}
      <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
{% endblock %}
<body>
{% block content %}

<div class="container">
    <h3 class="heading">Shopping List App</h3>
<form method="post" action="/login" >
    <fieldset>
        <legend><h4>User Login</h4></legend>
        {{ form.hidden_tag()}}
        {{ wtf.form_field(form.username) }}
        {{ wtf.form_field(form.password) }}
        {{ wtf.form_field(form.remember) }}

    <div class="clearfix">
       <button type="reset" class="btncancel">Cancel</button>
       <button type="submit" class="btnsignup">Login</button>
    </div>
        <br/>
        <p style="text-align: center"><a href="#">Fogort Password? click here to reset</a></p>
    </fieldset>

</form>
</div>
{% endblock %}
</body>
