<!DOCTYPE html>
{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

<!-- Import Head Content -->
{% block head %}
{{ super() }}
{% endblock %}

<!-- Override navbar to prevent them from appearling in this page -->
{% block navbar %}
{% endblock %}

<body>
{% block page_content %}


<div class="container">
    <h3 class="heading">Shopping List App</h3>
<form class="form" method="post" action="/">
    <fieldset>
        <legend><h4>User Signup Form</h4></legend>
     {{ form.hidden_tag()}}
        {{ form.hidden_tag()}}
        {{ wtf.form_field(form.username) }}
        {{ wtf.form_field(form.email) }}
        {{ wtf.form_field(form.password) }}
        {{ wtf.form_field(form.confirm) }}
        {{ wtf.form_field(form.remember) }}

    <div class="clearfix">
      <button type="reset" class="btncancel">Cancel</button>
      <button type="submit" class="btnsignup">Sign Up</button>
    </div>
        <br/>
        <p style="text-align: center;">Already with an account?<a href="/login">click here to log in</a></p>
    </fieldset>

</form>
</div>
{% endblock %}
</body>
