<!DOCTYPE html>
{% extends "base.html" %}

{% block head %}
{{ super() }}

{% endblock %}

<body>
{% block page_content %}

        <button class="btn btn-info pull-right" onclick="window.location.href='{{ url_for('create_shopping_lst') }}'">Create A ShoppingList<span>&rarr;</span></button>
        {% if current_user.get_num_of_shopping_lists() > 0 %}
        {% for shoppinglist_name, shopping_list in current_user.shopping_lists.items() %}
        <div class="form">
        <form method="post" id="categories">
                <div class="form-header">
                    <h3><strong> {{ shoppinglist_name }} </strong></h3>
                </div>
                <div class="form-body">

                 <a href="{{ url_for('share_shoppinglist',
                        shopping_list_name=current_user.get_shopping_lst(shoppinglist_name).name,
                        description=current_user.get_shopping_lst(shoppinglist_name).description) }}" class="btn btn-primary">
                        <span class="glyphicon glyphicon-share"></span><strong>Share</strong>
                    </a>

                    <a href="{{ url_for('delete_shopping_list',
                        shopping_list_name=current_user.get_shopping_lst(shoppinglist_name).name) }} " class="btn btn-danger">
                        <i class="icon-trash icon-white"></i>
                        <span class="glyphicon glyphicon-remove"></span><strong>Delete</strong>
                    </a>
                    <a href="{{ url_for('add_item',
                        shopping_list_name=current_user.get_shopping_lst(shoppinglist_name).name) }}" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"></span>Add Item
                    </a>

                    <ol>
                        {% if shopping_list.get_categories() > 0 %}
                        {% for key, cat in shopping_list.categories.items() %}
                        <ul>

                            <strong>{{ key }}</strong>
                            {% for item_name, item in cat.items() %}
                            <li>{{ item.quantity }} {{ item.name }}(s)
                                Costing Sh {{ item.price }} Each
                                <button style="height:20px;width:50px;margin-bottom:10px" type="button"
                                        class="btn btn-info btn-xs"><a href="{{ url_for('update_item',shopping_list_name=shoppinglist_name,
                                         name=item.name, price=item.price, quantity=item.quantity, category=key) }}">
                                    Edit</a>
                                </button>
                                <button style="height:20px;width:50px;margin-bottom:10px; " type="button"
                                        class="btn btn-danger btn-xs"
                                >
                                    <a href="{{ url_for('delete_item', shopping_list_name=shoppinglist_name,
                                         name=item.name, price=item.price, quantity=item.quantity, category=key) }}">
                                        Delete</a>
                                </button>
                            </li>
                            {% endfor %}

                        </ul>
                        {% endfor %}
                        {% else %}
                        <ul>You Currently Have no items In your shopping list</ul>
                        {% endif %}
                    </ol>
                    <!--

                    return the buttons here if they dont work
                    -->



                </div>
            </form>
            </div>
        {% endfor %}
        {% else %}
        <div class = "form">
            <ul>
                You Currently Do not have any Shopping List
               <!--<br>
                Having a Shopping List gives you a lot of benefits like<br>
                <ol>Time Saver</ol>
                <ol>Money Saver</ol>
                <ol>Makes Shopping Fun</ol>-->
            </ul>
        </div>
        {% endif%}

{% endblock %}
</body>
</html>