{% extends "bootstrap/base.html" %}
{% block head %}
{{ super() }}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}{% endblock %}

    <link rel="stylesheet" href="{{ url_for('static',filename='dashboardStyles.css') }}">

</head>
{% endblock %}

{% block navbar %}
<div class="container-fluid">
<div class="navbar navbar-default  " role="navigation">
    <div class="container-main">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Shopping List App</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                    <li><a href="#" style="color: #2196F3">Welcome {{ current_user.name }}</a> </li>
                    <li><a href="/logout">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
</div>

{% block content %}
<div class="container">

    <div class="row">
        {% for popup , message in get_flashed_messages(with_categories=true) %}
        <div class="alert alert-{{ popup }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
    </div>
    <div class="row">

    </div>
    <div class="row">
    {% block page_content %}{% endblock %}
    </div>
</div>
{% endblock %}