<!DOCTYPE html>
{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
{{ super() }}
{% endblock %}

<!-- Override navbar to prevent them from appearling in this page -->
{% block navbar %}
{% endblock %}

<body>
{% block page_content %}

<div class="container">
    <h3 class="heading">Shopping List App</h3>
<form class="form" method="post" >
    <fieldset>
        <legend><h4>User Login</h4></legend>
        {{ form.hidden_tag()}}
        {{ wtf.form_field(form.email) }}
        {{ wtf.form_field(form.password) }}
        {{ wtf.form_field(form.remember) }}

    <div class="clearfix">
       <button type="reset" class="btncancel">Cancel</button>
       <button type="submit" class="btnsignup">Login</button>
    </div>
        <br/>
        <p style="text-align: center"><a href="#">Fogort Password? click here to reset</a></p>
    </fieldset>

    <p style="text-align: center" >No Account?<a href="/register">Click here Sign Up</a></p>

</form>
</div>
{% endblock %}
</body>
